body {
    background-image: url('https://static1.squarespace.com/static/5172ee42e4b0532e10d66745/t/57abc768b3db2b4ff1dee417/1470875502369/White-Background.jpg?format=2500w');
    background-position: center center;
	background-repeat: no-repeat;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
    font-family: 'Cormorant Garamond', serif;
}

.font25 {font-size: 25px;}

#gameInfo {    
   text-align: center;
   margin: 30px;     
}

#gameInfo span {
   padding-right: 25px;
   padding-left: 10px;
}

.card img {border-radius: 5px;} 

.flipper {
	display: inline-block;
	padding: 5px;
	transition: 0.6s;
	transform-style: preserve-3d;
    position: relative;
	width:100px;
	height: 100px;
}

.front, .back {  
	backface-visibility: hidden;
    position: absolute;
}

.front {z-index: 2;}

.back {transform: rotateY(180deg);}

.flipped {transform: rotateY(180deg);}

.matched .front {
    transition: opacity 0.6s linear;
    opacity: 0;
}

.matched .back {
    transition: opacity 0.6s linear;
    opacity: 0;
}

#displayOfCards {
    width: 960px;
    position: relative;
    margin:0 auto;
}

.game4 {
	width: 46%;
    margin: auto;
    position: relative;
    /*margin: 100px auto;*/
}

.game6 {
	width: 69%;
    margin: auto;
    position: relative;
    /*margin: 40px auto 5px;*/
}

.game8 { 
	width: 92%;
    position: relative;
    margin: auto;
    /*margin: 20px auto;*/
}

/*START*/

#start-container {
    margin: 150px auto;
    width: 400px;
    text-align: center;
}

#username {
    padding: 16px;
    font-size: 16px;
    width: 91%;
    border-radius: 3px;
    border: 1px solid gray;
}

#usernameError {
    color: red;
    padding: 10px;
    font-size: 20px;
}

.btn {
    width: 100%;
    background-color: gray; 
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.playbtn {margin-top: 20px;}

option {
    background-color: #f9f9f9;
    color: black;
    min-width: 100%;
}

/*MODAL*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
}

#result {
    margin-top: 20px;
    text-align: center;
}

.share-buttons {text-align: center;}

.share-buttons a {padding: 0px 10px;}

#close {
    float: right;
    width: 3%;
}

#close img {width: 100%;}

#close img:hover {cursor: pointer;}

/*RANK LIST*/

#rank-container {
    width: 40%;
    margin: 55px auto 10px;
}

.replaybtn {margin-bottom: 10px;}

.replay img:hover {cursor: pointer;}

ul.tab {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
}

ul.tab li {width: 33.33%;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 30px;
    width: 100%;
}

ul.tab li a:hover {
    background-color: #ddd;
    cursor: pointer;
    width: 100%;
    }

ul.tab li a:focus, .active {background-color: #ccc; width: 100%;}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.rankItem{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1840px) {
    #displayOfCards {
        width: 53%;
    }
}

@media only screen and (max-width: 1230px) {
    #displayOfCards {
        width: 90%;
    }

    /*.game8 {
        width: 80%;
    }*/
}

@media only screen and (max-width: 1230px) {
    #displayOfCards {
        width: 90%;
    }
}



/*
@media only screen and (max-width: 680px) {
    .game6 {
        margin: auto;
        width: 100%;
    }
    .game6 .flipper  {
        width: 13.65%;
        height: 80px;
    }
    .game6 .flipper img {
        max-width: 100%;
    }
    #gameInfo span {
        display: inherit;
        padding: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .game8 .flipper  {
        width: 10%;
        height: 50px;
    }
    #rank-container {
        width: 100%;
    }
}

@media only screen and (max-width: 980px) {
    #gameInfo {
        margin-left: 0px;
        margin-right: 0px;
    }
    #close {
        width: 8%;
    }
}

@media only screen and (max-width: 1480px) {
    .game8 {
        margin: auto;
        max-width: 100%;
    }
    .game8 .flipper  {
        width: 10%;
        height: 70px
    }
    .game8 .flipper img {
        max-width: 100%;
    }  
}



@media only screen and (min-width:700px) and (max-width: 1200px) {
   #rank-container {
       width: 70%;
    }
}*/